@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
   /* COLORS */
   --absolute-black: #000;
   --absolute-white: #fff;

   --clr-accent1: #ff774c;
   --clr-accent2: #7390F9;
   --clr-accent3: #242F65;
   --clr-light-grey: #525665;
   --clr-dark-grey: #2F2F2F;
   --clr-semi-black: #2A2C32;

   --nav-bg-clr: rgba(0 0 0 / .07);
   

   /* FONT FAMILY */
   --ff-fraunces: 'Fraunces', serif;
   --ff-mulish: 'Mulish', sans-serif;


   /* FONT WEIGHT */
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-semibold: 600;
   --fw-bold: 700;
   --fw-extrabold: 800;


   /* FONT SIZE */
   --fs-nav: 1rem;
   --fs-xs: .75rem; /* 12px*/
   --fs-s: .875rem; /* 14px*/
   --fs-m6: clamp(0.875rem, 0.8310rem + 0.1878vw, 1rem); /* 14px - 16px*/
   --fs-base: 1rem; /* 16px*/
   --fs-m5: 1.25rem; /* 20px*/
   --fs-h1: clamp(1.85rem, 1.2250rem + 2.6667vw, 3.625rem); /* 29.6px - 58px*/


   /* SPACING & SIZES */
   --z-index-fixed: 100;
   --z-index-scrollup-btn: 1000;

   --nav-border: .55px solid rgba(0 0 0 / .07);

   --br-base: 1rem;
   --br-header: clamp(0.625rem, 0.5370rem + 0.3756vw, 0.875rem);
   --br-8px: .5rem;
   --br-10px: .624rem;
   --br-12px: .75rem;
   --br-16px: 1rem;

   --margin-inline: clamp(0.625rem, -1.0915rem + 7.3239vw, 5.5rem);
   --max-width: 85rem;


   /* TRANSITIONS */
   --transition: .35s ease;
   --nav-menu-transition: .4s ease-in-out;
}


body {
   background-color: var(--absolute-white);
   /* margin-inline: var(--margin-inline);
   max-width: var(--max-width); */
}

/* SCROLLBAR */
::-webkit-scrollbar {
   background-color: rgb(193, 193, 193);
   width: clamp(0.45rem, 0.3972rem + 0.2254vw, 0.6rem);
}

::-webkit-scrollbar-thumb {
   background-color: rgb(120, 120, 120);
   border-radius: .7rem;
}


/* IMAGE SKELETON ANIMATION */
.skeleton {
   opacity: .7;
   animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
   0% {
      background-color: hsl(200, 20%, 60%);
   }
   
   100% {
      background-color: hsl(200, 20%, 90%);
   }
}