@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
   /* COLORS */
   --clr-absolute-black: #000;
   --clr-absolute-white: #fff;
   
   --clr-orange-60: #CE7D63;
   --clr-orange-65: #D48E77;
   --clr-orange-70: #DA9E8B;
   --clr-orange-80: #E7BEB1;
   --clr-orange-90: #F3DFD8;
   --clr-orange-95: #F9EFEC;
   --clr-orange-97: #FBF5F3;
   --clr-orange-99: #FEFCFB;

   --clr-dark-06: #0F0F0F;
   --clr-dark-10: #1A1A1A;
   --clr-dark-12: #1F1F1F;
   --clr-dark-15: #262626;
   --clr-dark-20: #333333;
   --clr-dark-25: #404040;
   --clr-dark-30: #4D4D4D;
   --clr-dark-35: #595959;

   --clr-grey-40: #676665;
   --clr-grey-50: #81807E;
   --clr-grey-70: #B3B3B2;
   --clr-grey-80: #CCCCCC;
   --clr-grey-90: #E6E6E6;
   --clr-grey-95: #F2F2F2;
   --clr-grey-97: #F7F7F7;
   --clr-grey-99: #FCFCFC;


   /* FONT FAMILY */
   --ff-mono: 'Roboto Mono', monospace;
   --ff-flex: 'Roboto Flex', sans-serif;


   /* FONT WEIGHT */
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-semibold: 600;
   --fw-bold: 700;


   /* FONT SIZE */
   --fs-14px: .875rem;
   --fs-s: clamp(0.875rem, 0.8310rem + 0.1878vw, 1rem); /* 14px - 16px */
   --fs-text: clamp(0.92rem, 0.8918rem + 0.1202vw, 1rem); /* 14px - 16px */
   --fs-m4: 1.25rem; /* 20px */
   --fs-m3: clamp(1.25rem, 1.2060rem + 0.1878vw, 1.375rem); /* 20px - 22px */
   --fs-m2: clamp(1.75rem, 1.5299rem + 0.9390vw, 2.375rem); /* 28px - 38px */
   --fs-m1: 2.5rem; /* 40px */
   --fs-h1: clamp(1.75rem, 1.0898rem + 2.8169vw, 3.625rem); /* 28px - 58px */


   /* SPACING & SIZES */
   --z-index-fixed: 100;
   --z-index-scrollup-btn: 1000;

   --br-base: 1rem;
   --br-8px: .5rem;
   --br-10px: .624rem;
   --br-12px: .75rem;
   --br-14px: .875rem;
   --br-16px: 1rem;

   --header-border: .063rem solid #1C1C21;

   --margin-inline: clamp(0.625rem, -1.0915rem + 7.3239vw, 5.5rem);
   --max-width: 85rem;

   --scroller-max-width: clamp(23rem, 9.9718rem + 55.5869vw, 60rem);


   /* TRANSITIONS */
   --transition: .35s ease;
   --nav-menu-transition: .4s ease-in-out;
}


body {
   background-color: var(--clr-dark-06);
}

main {
   margin-inline: var(--margin-inline);
   max-width: var(--max-width);
}

/* SCROLLBAR */
::-webkit-scrollbar {
   background-color: var(--clr-dark-15);
   width: clamp(0.45rem, 0.3972rem + 0.2254vw, 0.6rem);
}

::-webkit-scrollbar-thumb {
   background-color: rgb(171, 171, 171);
   border-radius: .7rem;
}


/* IMAGE SKELETON ANIMATION */
.skeleton-image {
   position: relative;
}

.skeleton-text {
   position: relative;
}

.skeleton-image::before,
.skeleton-text::before {
   background: linear-gradient(90deg, var(--clr-dark-12), var(--clr-dark-15), var(--clr-dark-12));
   background-size: 200%;
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 50;
   animation: skeleton-loading 1.7s infinite reverse;
}

@keyframes skeleton-loading {
   0% {
      background-position: -100% 0;
   }

   100% {
      background-position: 100% 0;
   }
}