.header {
   background-color: var(--absolute-white);
   box-shadow: 0 2px 25px 0 transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: clamp(1rem, 0.8592rem + 0.6009vw, 1.4rem) 
            clamp(0.625rem, -2.5000rem + 13.3333vw, 9.5rem);
   position: sticky;
   top: 0;
   transition: all var(--transition);
   z-index: var(--z-index-fixed);

}

.header-active {
   box-shadow: 0 3px 25px 0 rgba(0 0 0 / .05);
   transition: all var(--transition);
}

.logo {
   width: 8rem;
   object-fit: cover;
}

.nav-menu-list {
   display: flex;
   align-items: center;
   gap: .8rem;
}

.nav-menu-link {
   background-color: transparent;
   border: .55px solid transparent;
   border-radius: var(--br-8px);
   color: var(--clr-dark-grey);
   font-family: var(--ff-mulish);
   font-weight: var(--fw-medium);
   font-size: var(--fs-nav);
   padding: .5rem .7rem;
   transition: all var(--transition);
}

.nav-menu-link:is(:hover, :active) {
   background-color: var(--nav-bg-clr);
   border: var(--nav-border);
   color: var(--absolute-black);
}

.nav-menu-link-active {
   background-color: var(--nav-bg-clr);
   border: var(--nav-border);
   color: var(--absolute-black);
}


.hamburger-menu {
   cursor: pointer;
   display: none;
}

/* 
   MOBILE NAVIGATION
   -----------------
   BREAKPOINT 984PX
*/

@media screen and (max-width: 61.5em) {
   .nav-menu {
      background-color: var(--absolute-white);
      box-shadow: 0 3.5px 25px 0 rgba(0 0 0 / .07);
      padding: 2rem 1.2rem;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: clamp(18.5rem, 17.2676rem + 5.2582vw, 22rem);
      transform: translateX(-200%);
      transition: transform var(--nav-menu-transition);
      overflow: hidden;
      z-index: var(--z-index-fixed);
   }

   .nav-menu-list {
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
   }

   .nav-menu-link {
      display: block;
      text-align: center;
      width: 100%;
      opacity: 0;
      transform: translateX(-200%);
   }

   .nav-menu-link-in {
      animation: navLinkslideIn var(--nav-menu-transition) forwards;
   }

   .nav-menu-link-out {
      animation: navLinkslideOut var(--nav-menu-transition) forwards;
   }

   .hamburger-menu {
      background-color: var(--nav-bg-clr);
      border: var(--nav-border);
      border-radius: var(--br-10px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .3rem;
      padding: .625rem;
      transition: all var(--nav-menu-transition);
      width: 2.8rem;
      height: 2.7rem;
   }

   .hamburger-menu:hover {
      background-color: rgba(0 0 0 / .11);
   }

   .line {
      background-color: var(--clr-dark-grey);
      border-radius: 5rem;
      width: 100%;
      height: .19rem;
      transition: all var(--nav-menu-transition);
   }

   .line2 {
      width: 65%;
      align-self: flex-start;
   }
}

.nav-menu-show {
   transform: translateX(0);
}

.hamburger-menu.open .line1 {
   transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger-menu.open .line2 {
   width: 100%;
   transform: rotate(45deg) translate(-1.9px, -4.2px);
}

.hamburger-menu.open {
   padding-right: .74rem;
}

@keyframes navLinkslideIn {
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes navLinkslideOut {
   to {
      opacity: 0;
      transform: translateX(-200%);
   }
}
