.header {
   background-color: var(--color-dark-10);
   border: var(--header-border);
   border-radius: var(--br-header);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: clamp(0.875rem, 0.3028rem + 2.4413vw, 2.5rem);
   padding-right: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
   padding-top: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
   padding-bottom: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
   position: sticky;
   top: clamp(0.625rem, 0.3169rem + 1.3146vw, 1.5rem);
   z-index: var(--z-index-fixed);
}

.logo {
   width: clamp(6.5rem, 5.7958rem + 3.0047vw, 8.5rem);
   object-fit: cover;
   /* text-wrap: balance; */
}

.nav-menu-list {
   display: flex;
   align-items: center;
   gap: var(--gap-base);
}

.nav-menu-link {
   background-color: var(--color-dark-06);
   border-radius: var(--br-10px);
   color: var(--color-grey-50);
   font-family: var(--ff-mono);
   font-weight: var(--fw-medium);
   font-size: var(--fs-s);
   padding: 0.875rem 1.25rem;
   transition: all var(--transition);
}

.nav-menu-link:is(:hover, :active) {
   color: var(--primary-orange-80);
}

.contact-menu-link {
   background-color: var(--primary-orange-60);
   color: var(--color-dark-06);
}

.contact-menu-link:is(:hover, :active) {
   color: var(--color-dark-06);
}

.nav-menu-link-active {
   color: var(--primary-orange-80);
}

.hamburger-menu {
   cursor: pointer;
   display: none;
}

/* 
   MOBILE NAVIGATION
   -----------------
   BREAKPOINT 984PX
*/

@media screen and (max-width: 61.5em) {
   .nav-menu {
      background-color: var(--color-dark-10);
      border: var(--header-border);
      border-radius: var(--br-header);
      padding: 1.2rem;
      position: fixed;
      left: clamp(0.625rem, -1.0915rem + 7.3239vw, 5.5rem);
      top: 6.5rem;
      height: 30rem;
      width: clamp(20rem, 18.2394rem + 7.5117vw, 25rem);
      transform: translateX(-200%);
      transition: transform var(--nav-menu-transition);
      overflow: hidden;
   }

   .nav-menu-list {
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
   }

   .nav-menu-item {
      width: 80%;
   }

   .nav-menu-link {
      display: block;
      text-align: center;
      width: 100%;
      opacity: 0;
      transform: translateX(-200%);
   }

   .nav-menu-link-in {
      animation: navLinkslideIn var(--nav-menu-transition) forwards;
   }

   .nav-menu-link-out {
      animation: navLinkslideOut var(--nav-menu-transition) forwards;
   }

   .hamburger-menu {
      background-color: var(--color-dark-06);
      border-radius: var(--br-10px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3rem;
      padding: 0.625rem;
      transition: transform var(--nav-menu-transition);
      width: 2.7rem;
      height: 2.7rem;
   }

   .line {
      background-color: var(--color-grey-90);
      border-radius: 3rem;
      width: 100%;
      height: .2rem;
      transition: all 0.4s ease;
   }

   .line2 {
      width: 65%;
   }
}

.nav-menu-show {
   transform: translateX(0);
}

.hamburger-menu.open .line1 {
   transform: rotate(-45deg) translate(-2px, 3px);
}

.hamburger-menu.open .line2 {
   width: 100%;
   transform: rotate(45deg) translate(-2.1px, -4.2px);
}

@keyframes navLinkslideIn {
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes navLinkslideOut {
   to {
      opacity: 0;
      transform: translateX(-200%);
   }
}
